.apps {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.apps__content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 271px;
  padding: 28px 20px 31px 20px;
  justify-content: space-between;
  align-items: stretch;
}

.apps__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-right: 18px;
}

.apps__description {
  margin: 0;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .apps__content {
    padding: 0;
    align-items: center;
  }

  .apps__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .apps__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 204px;
    margin: 0;
    padding: 0;
  }

  .apps__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .apps__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 204px;
    margin: 0;
    padding: 0;
  }

  .apps__description {
    font-size: 18px;
  }
}
