.benefits__wrapper {
  display: flex;
  min-height: 1735px - 949px - 85px;
  position: relative;
  background-color: $lightgrey;

  &::before {
    content: "";
    height: 32px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #ffffff;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  }
}

.benefits__background-wrapper {
  background-image: url("../img/index/benefits-screen-mobile.png"), url("../img/index/benefits-phone-mobile.png");
  background-repeat: no-repeat;
  background-position: center 545px, center 508px;
  width: 100%;
}

.benefits__list {
  padding-top: 81px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 318px;
}

.benefits__item {
  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.benefits__title {
  margin: 0;
  font-weight: 700;
  text-align: center;
  color: #000000;
  font-size: 18px;
  padding-bottom: 14px;
}

.benefits__description {
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .benefits__wrapper {
    min-height: 1454px - 967px - 99px;

    &::before {
      height: 1020px - 967px;
    }
  }

  .benefits__background-wrapper {
    z-index: 1;
    background-image: url("../img/index/benefits-screen-tablet.png"), url("../img/index/benefits-phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 35px 67px, 20px 6px;
  }

  .benefits__list {
    padding-top: 1043px - 967px;
    padding-left: 330px;
    padding-bottom: 42px;
  }

  .benefits__item {
    &:not(:last-child) {
      padding-bottom: 33px;
    }
  }

  .benefits__title {
    text-align: left;
  }

  .benefits__description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .benefits__wrapper {
    &::before {
      height: 100px;
    }
  }

  .benefits__background-wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 616px - 307px;
    padding-top: 307px;
    background-image: url("../img/index/benefits-greymobile-desktop.png"), url("../img/index/benefits-pinkmobile-desktop.png"), url("../img/index/benefits-smilemobile-desktop.png");
    background-repeat: no-repeat;
    background-position: 130px 6px, 450px 6px, 770px 6px;
  }

  .benefits__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 51px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 51px;
    background-color: $lightgrey;
  }

  .benefits__item {
    width: 242px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 0;
  }

  .benefits__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .benefits__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
