.benefits {
  box-sizing: border-box;
  color: $darkgrey;
  background-image: url("../../img/index/benefits-screen-smile.png"), url("../../img/index/benefits-phone.png"), url("../../img/index/benefits-background.svg");
  background-repeat: no-repeat;
  background-position: center 762px, center 725px, center bottom;
  padding: 20px;
}

.benefits__wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 786px - 20px;
  padding-top: 85px;
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  padding-bottom: 30px;
}

.benefits__title {
  margin: 0;
  font-weight: 700;
  text-align: center;
  color: #000000;
  font-size: 18px;
  padding-bottom: 14px;
}

.benefits__description {
  margin: 0;
  text-align: center;
}
