.body-cell {
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px #e5e5e5 solid;
  line-height: 30px;
}

.body-cell__value {
  position: absolute;
}

.body-cell__value-true {
  top: 21px;
  right: 19px;
}

.body-cell__value-false {
  top: 16px;
  right: 21px;
}

@media (min-width: $tablet-width) {
  .body-cell__value-true {
    top: 14px;
    right: 60px;
  }

  .body-cell__value-false {
    top: 10px;
    right: 63px;
  }
}

@media (min-width: $desktop-width) {
  .body-cell__value-true {
    top: 21px;
    right: 101px;
  }

  .body-cell__value-false {
    top: 16px;
    right: 103px;
  }
}
