.form {
  color: #283645;
}

.form__description-wrapper {
  &--mobile {
    padding: 20px;
    padding-bottom: 0;
  }
}

.form__description {
  margin: 0;
  text-align: center;
  font-weight: 400;

  &--mobile {
    font-size: 14px;
    line-height: 30px;
  }
}

.form__fieldset-wrapper {
  &--mobile-light {
    padding: 20px;
    padding-top: 34px;
  }

  &--mobile-checks {
    padding: 20px;
    padding-top: 40px;
    background-color: #f2f2f2;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;

  &--mobile {
    border: none;
  }
}

.form__note {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &--mobile {
    padding-top: 36px;
  }
}

.form__asterisk {
  color: #d22856;
}
