.form__description-wrapper {
  padding-bottom: 39px;
}

.form__description {
  margin: 0;
  text-align: center;
  line-height: 30px;
}

.form__fieldset-wrapper {
  &--light {
    padding: 20px;
    padding-top: 34px;
  }

  &--checks {
    padding: 20px;
    padding-top: 40px;
    background-color: #f2f2f2;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__note {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 36px;
}

.form__asterisk {
  color: $pink;
}
