.form-legend {
  color: $pink;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;

  &--user-contacts {
    display: none;
  }

  &--achievements {
    padding-bottom: 40px;
  }

  &--platform {
    padding-bottom: 36px;
  }

  &--story {
    padding-bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .form-legend {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;

    &--user-contacts {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-legend {
    &--platform {
      width: max-content;
    }
  }
}
