.form-photo__editor {
  padding: 20px;
}

.form-photo__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
}

.form-photo__button {
  width: 100%;
}
