.head-cell {
  background-color: $darkgrey;
  color: #ffffff;
  border-right: 2px #f2f2f2 solid;
  box-sizing: border-box;
  text-align: center;
  word-wrap: break-word;

  &--hit {
    position: relative;

    &::before {
      background-color: $pink;
      content: "";
      width: 74px;
      height: 74px;
      position: absolute;
      top: 0;
      left: -2px;
      clip-path: polygon(55% 0, 100% 0, 0 100%, 0 55%);
    }

    &::after {
      content: "ХИТ";
      color: #ffffff;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      transform: rotate(-45deg);
      position: absolute;
      top: 15px;
      left: 13px;
    }
  }
}

.head-cell__rate {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.head-cell__price {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .head-cell {
    padding: 12px 33px 8px 33px;

    &--hit {
      &::before {
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
      }

      &::after {
        top: 10px;
        left: 8px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .head-cell {
    padding: 9px 66px 9px 66px;

    &--hit {
      &::before {
        width: 74px;
        height: 74px;
        top: 0;
        left: 0;
        clip-path: polygon(57% 0, 100% 0, 0 100%, 0 57%);
      }

      &::after {
        top: 15px;
        left: 15px;
      }
    }
  }

  .head-cell__rate {
    font-size: 18px;
  }

  .head-cell__price {
    font-size: 24px;
  }
}
