.page-footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 70px 40px 70px;
  min-height: 284px;
}

.page-footer__logo {
  &:hover .page-footer__icon-logo .page-footer__icon-path {
    fill: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .page-footer__icon-logo .page-footer__icon-path {
    fill: $darkgrey;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  color: $darkgrey;
  width: 130px;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    text-decoration: none;
    color: $darkgrey;
  }

  &:hover .page-footer__academy-logo {
    fill: $darkgrey;
  }

  &:active {
    text-decoration: none;
    color: $darkgrey;
  }

  &:active .page-footer__academy-logo {
    opacity: 0.3;
  }

  &:visited {
    text-decoration: none;
    color: $darkgrey;
  }
}

.page-footer__academy-logo {
  fill: $pink;
}
