.page-header {
  position: relative;
  background-color: #1d2631;
  color: #ffffff;

  &--mobile {
    min-height: 171px + 66px;
    background-image: url("../../img/header/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top;
  }

  &--mobile-index {
    min-height: 733px;
    background-image: url("../../img/header/phone-hand.png"), url("../../img/header/phone-screen.jpg"), url("../../img/header/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: left 176px, center 209px, top;
  }
}

.page-header__title-wrapper {
  display: flex;

  &--mobile {
    justify-content: center;
    padding: 20px;
  }
}

.page-header__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;

  &--mobile {
    font-size: 24px;
    line-height: 33px;
    padding-top: 16px;
  }

  &--mobile-index {
    line-height: 29px;
    padding-top: 9px;
  }
}

.page-header__apps {
  position: absolute;
  bottom: 0;
}
