.page-footer {
  color: #283645;
}

.page-footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__content-wrapper--mobile {
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px 70px 40px 70px;
  min-height: 284px;
}

.page-footer__copyright {
  display: flex;
}

.page-footer__copyright--mobile {
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
