.photo {
  &--win {
    position: relative;

    &::before {
      display: block;
      content: "ПАНОРАМА ДНЯ";
      text-transform: uppercase;
      color: #ffffff;
      font-size: 12px;
      line-height: 24px;
      font-weight: 700;
      background-color: $pink;
      padding: 5px 20px 7px 19px;
      width: 140px - 39px;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 20px;
    }
  }
}

.photo__content-container {
  padding-left: 20px;
  padding-right: 20px;
}

.photo__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 100%;
  padding: 17px;
  min-height: 121px;

  &--win {
    padding-right: 0;
  }
}

.photo__image {
  display: block;
}

.photo__author {
  margin: 0;
}

.photo__author-name {
  font-weight: 700;
}

.photo__text {
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
}

.photo__date {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 0;
  padding-right: 15px;
}

.photo__like-count {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .photo {
    &--win {
      &::before {
        top: 57px;
      }
    }
  }

  .photo__content {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 155px;
    justify-content: space-between;

    &--win {
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 121px;
    }
  }

  .photo__text {
    padding: 0;

    &--win {
      order: 1;
    }
  }

  .photo__likes {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &--win {
      width: 610px - 490px;
    }
  }

  .photo__like-button {
    order: 1;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    &--win {
      &::before {
        top: 54px;
        right: 130px;
      }
    }
  }

  .photo__content-container {
    padding-left: 130px;
    padding-right: 130px;
  }

  .photo__content {
    align-items: center;

    &--win {
      align-content: center;
      min-height: 96px;
      padding: 20px 30px 20px 27px;
    }
  }

  .photo__like-button {
    height: 24px;
    padding-top: 4px;
  }
}
