.reviews {
  color: #283645;
}

.reviews__wrapper {
  &--mobile {
    padding: 20px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;

  &--mobile {
    padding-top: 26px;
  }

  &--no-display {
    display: none;
  }
}

.reviews__text {
  margin: 0;
  text-align: center;
  font-weight: 400;

  &--mobile {
    font-size: 14px;
    line-height: 30px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000000;

  &--mobile {
    font-size: 18px;
    text-align: 30px;
    order: -1;
    padding-bottom: 20px;
  }
}

.reviews__author-info {
  &--mobile {
    display: none;
  }
}
