.table {
  border-collapse: collapse;
}

.table__head-data--mobile {
  display: none;
}

.table__body-data--mobile {
  display: none;
}

.table__head-cell {
  background-color: #283645;
  color: #ffffff;
  border-right: 2px #f2f2f2 solid;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }
}

.table__head-cell--mobile {
  width: 278px;
  height: 94px;
}

.table__body-cell {
  position: relative;
  background-color: #ffffff;
  border: 2px #e5e5e5 solid;
  border-top: none;
}

.table__body-cell--mobile {
  height: 59px;
}
